.product {
    width: 33%!important;
    text-align: center!important;
    padding:25px 35px!important;
    float: left;
}
.product-box {
    background: #000000d9;
    margin-top: 40px;
    border-radius: 19px;
}
.product-box img {
    width: 50%;
    height: 200px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.product-box {
    background: #000000d9;
    margin-top: 40px;
    border-radius: 19px;
    padding: 46px 10px;
    height: 506px;
}
.product-box h1,.product-box p,.product-box h5{
    color: #fff;
}
.product-box h1 {
    font-size: 20px;
    margin: 30px 0px;
}
.product-box p{
    font-size: 14px;
}
button{
    border:0px;
    color: #000;
    font-size: 15px;
    padding:10px 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 12px!important;
    margin-top:20px!important;
}
.product_detail{
    text-align: left;
}
.product_thumbnail_images img{
width:100%;
height:100%;
}
.product_image img{
    width:100%;
    /* height:100%;   */
    margin:40px 0 20px;
    background-size: cover;
    object-fit: cover;
}
.product_details{
    margin-top:40px!important;;
    text-align: left!important;
}
.product_details h1{
    text-align: left;
    font-size: 28px;
    margin:10px 0;
}
.product_details h2{
    font-size: 14px;
    color: gray;
}
.product-price span {
    font-size: 18px;
}
.product-price {
    padding: 6px 0px;
    line-height: 27px;
}