.heading {
    text-align: left;
}
.header-section{
padding-top:15px;
padding-bottom:15px;
}
.header{
    background-color: gray;
}
.cart_images img {
    width: 30px;
    height: 30px;
}
.cartTotal{
    padding: 1px 8px;
   
}
.box button{
    margin-top:0px!important;
}
.cart_images {
    line-height: 20px;
    font-weight: 700;
}

.add_to_cart_button button {
   
    display: flex;
    column-gap: 9px;
    align-items: center;
}

h1.heading.site_logo.text-light {
    justify-content: flex-end;
    width: fit-content;
    cursor: pointer;
}